@model BusinessLayer.DTOs.ExamDtos.CreateExamDto

<h2>Yeni Sınav Oluştur</h2>

<form asp-action="CreateExam" method="post">
    <div class="form-group">
        <label for="Name">Ad:</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="ExamMinute">Dakika:</label>
        <input asp-for="ExamMinute" class="form-control" />
        <span asp-validation-for="ExamMinute" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Description">Açıklama:</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="SuccessScore">Başarı Puanı:</label>
        <input asp-for="SuccessScore" class="form-control" />
        <span asp-validation-for="SuccessScore" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="CategoryId">Kategori:</label>
        <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-control"></select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
<br>
    <button type="submit" class="btn btn-primary">Oluştur</button>
</form>